html {
    background-image: url(images/nyc_image.jpg);
    background-repeat: no-repeat;
   background-size: cover;
height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro;
}

div{
    text-align: center;
}

div h1 {
   font-weight: 900; 
   color: honeydew;
}

.source {
    color: honeydew;
  padding-left: 1%;
  padding-top: 4%;
    font-size: .9em;
    font-weight: 400;
}

a {
    color: steelblue;
}

text {
font-size: 1.2em;
font-family: Source Sans Pro;
font-weight: 400;
color: honeydew;
}

rect {
    opacity: 0.5;
}