body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(nba_image.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
}

label {
    color: #fff;
}

select {
    border-radius: 5px;
    border: 2px solid #fff;
    color: grey;

}

.trend {
    fill: none;
}

.legend-box {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: whitesmoke; 
    padding: 10px;
    margin-top: 5%;
    opacity: 1;
    border: 1px solid #fff;
    border-radius: 5px;

}

.legend-box li {
    font-weight: 500;
    margin: 20px 0;
}

.legend-box ul {
    list-style-type: none;
}

.selector {
    margin-top: 5%;
    margin-left: 5%;
}

.axis-label {
        font-size: 14px;
        fill:#fff;
        text-anchor: middle;
}