
/* 
body{
    background-image: url(marvelVsDC.jpg);
background-size: cover;
width: 100%;
height: 100%;
    padding: 0;
    margin: 0;
} */

.xAxis text {
    transform: rotate(-5deg);
    font-size: 9px;
}
