
body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

section {
    background-image: url(marvelVsDC.jpg);
    background-size: cover;
    width: 100%;
        background-repeat: no-repeat;
        text-align: right;
}

.yAxis text {
    color: #fff;
}

.xAxis text {
    transform: rotate(-9deg);
    font-size: 9px;
    
}

.dropdown-div {
padding: 3% 5% 0 0;
}

label {
    color: #fff;

}

.description {
    text-align: center;

}
.description p {
color: #152238;
}